
.forgot-password-paragraph{
  padding-top: 15px;
  margin-bottom: -5px;
}

/* Forgot Password CSS Start */
.forgot-password-input{
  padding: 14px 25px 14px 25px;
  width: 50%;
  color: black;
  box-shadow: 2px 2px 2px rgb(180, 177, 177);
  border: 2px solid #99634a;
  outline: none;
}
.forgot-password-btn{
  margin-top: 40px;
  border: none;
  border-radius: 2px;
  padding: 13px 40px;
  font-size: 17px;
  font-weight: 500;
  color: #fff;
  background-color: #864c31;
}
.forgot-password-text{
  font-size: 43px;
  font-weight:800 ;
  padding-bottom: 30px;
  padding-top: 10px;
}
